<% if object.errors.any? %>
<h3>Ah, snap. We found <%= pluralize(object.errors.size, "error") %>
    with your submission!</h3>
  <% object.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>
